body {
  font-family:"Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FBF3BF;
  font-size: 20px;
  margin: auto;
  padding: auto;
}

header {
  background-image: url(../image/header.jpg);
  position: relative;
  height: 250px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 3em;
  font-weight: 700;
  color: beige;
  text-align: center;
  line-height: 250px;
  margin: 0 0 30px 0;
}
#image-and-nav {
  display: inline-block;
  width: 35%;
  vertical-align: top;
}
#image-and-nav div {
  width: 100%;
  height: 400px;
  text-align: center;
}
#image-and-nav div img{
  width: 80%;
}
#image-and-nav nav{
  width: 100%;
  height: 600px;
}
#image-and-nav nav section {
  text-align: center;
  height: 15%;
  line-height: 90PX;
}


#text-and-music {
  display: inline-block;
  width: 60%;
}
#text-and-music p {
  width: 100%;
  margin: 0 auto;
  line-height: 55px;
  height: 400px;
  overflow: hidden;
}
#music {
  width: 100%;
  height: 650px;
  text-align: center;
}
#music > div:first-child {
  margin: 10px 0 30px 0;
}
#music hr {
  display: inline-block;
}

#music section {
  display: inline-block;
  width: 28%;
  padding: 0 4% 20px 0;
}
#music section p {
  height: 40px;
}
footer {
  text-align: center;
}
footer hr{
  display: inline-block;
}
footer img {
  height: 50px;
}
footer p {
  font-style: italic;
  color: slategrey;
}
